<a href="https://colab.research.google.com/github/HasanALI313/Covnets/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1
#import random as rd
num = 1
pi = 3.14
num = rd.randint(1,5)
print( " The random number is : " , num)

 The random number is :  4

In [ ]:
#Q2
# -------------------------------------------------------------------
# Global variables


# -------------------------------------------------------------------
# ===>  Change the identifier x to a more meaningful name
option = ""


# -------------------------------------------------------------------
# Main program

# -------------------------------------------------------------------
# ===> Display a suitable question to the user
print(" Would you like me to sing? ")

# ===> Accept the user's input (no validation required)
option = input( " Choose 'y' for yes and 'n' for no ")

if (option == 'y') :
    # ===> Add a comment to explain the effect of the last -1 in this call
# The -1 means go back by one in the range.
    for num in range(5, -1, -1 ):
        print (num, "green bottles sitting on the wall")
print ("Goodbye")

 Would you like me to sing?
 Choose 'y' for yes and 'n' for no y
5 green bottles sitting on the wall
4 green bottles sitting on the wall
3 green bottles sitting on the wall
2 green bottles sitting on the wall
1 green bottles sitting on the wall
0 green bottles sitting on the wall
Goodbye

In [ ]:
#Q3
# -------------------------------------------------------------------
# Global variables
# -------------------------------------------------------------------
num = 0

# -------------------------------------------------------------------
# Main program
# -------------------------------------------------------------------

num = int(input("Please enter a number (1 ... 20)"))

if 1>num or 20<num:
  print (" Invalid input ")
elif (num % 2 == 0): 
    print (num, " is even")
elif (num % 2 != 0):
    print (num, " is odd")

Please enter a number (1 ... 20)21
 Invalid input

In [ ]:
#Q4
# -------------------------------------------------------------------
# Global variables
# -------------------------------------------------------------------
year = 0            # Do not move this line
strYear = ""        # Do not move this line

# -------------------------------------------------------------------
# Main program
# -------------------------------------------------------------------

# Put the lines into the correct order to solve the problem.
# A user types in a year group.  The program indicates which stage
# of education the year group belongs to.  The program loops until
# the user enters 0.
# Example:
# Input                 Output
# -----------------------------------------
# 0                     Exits program
# 1, 2, 3, 4, 5, 6      Primary
# 7, 8, 9, 10, 11       Secondary
# 12, 13                College

strYear = input ("Enter year group (1 to 13, 0 to exit)")
year = int(strYear)

while (year != 0):

  
  if (year < 1): 

     print ("Year too small")
  
  elif (year < 7):
     print ("Primary")
  
  elif (year < 12):
     print ("Secondary")
    
  elif (year > 13):
     print ("College")
      
  else:
      print ("Year too big")

strYear = input ("Enter year group (1 to 13, 0 to exit)")
year = int(strYear)

In [ ]:
#Q5
# -------------------------------------------------------------------
# Import libraries
# -------------------------------------------------------------------
# ===> Import a library to use Pi
import math

# -------------------------------------------------------------------
# Global variables
# -------------------------------------------------------------------

# Hard coded for testing
coneHeight = 10.7
baseRadius = 1.2
coneVolume = 0.0
math.pi = pi
# -------------------------------------------------------------------
# Subprograms
# -------------------------------------------------------------------
# ===> Add parameters inside the brackets
def calcVolume (  pRadius,     pHeight                ):

    print ("The radius is:", pRadius)
    print ("The height is:", pHeight)

    # ===> Complete the calculation for the volume
    theVolume = (pi)*(pRadius**2)*(pHeight/3)
    print ("The volume is:", theVolume)

    # ===> Return the volume to the caller
    return (theVolume)

# -------------------------------------------------------------------
# Main program
# -------------------------------------------------------------------

# ===> Call the subprogram, passing parameters,
#      and catch the returned value in the correct variable
coneVolume = calcVolume (baseRadius, coneHeight)

# ===> Print the total volume to three decimal places using string.format()
# ===> by completing the pattern inside the { }
print ("{:.3f}".format(coneVolume))

The radius is: 1.2
The height is: 10.7
The volume is: 16.135219868837176
16.135

In [ ]:
 # formatting 
 first_name = "hasan"
 last_name = "younis"
 print("my name is {} , {}".format(first_name,last_name))

my name is hasan , younis

In [ ]:
# align substring as l;eft right or middle
#padding is always left
cases = [5,16,294]
for case in cases:
  print('Number of cases: {}'.format(case))
  #padding left
for case in cases:
  print('Number of cases: {:<} '.format(case))
  #padding right by 5 space
for case in cases:
  print('Number of cases: {:>5} '.format(case))
  #padding center
for case in cases:
  print('Number of cases: {:^5} '.format(case))

Number of cases: 5
Number of cases: 16
Number of cases: 294
Number of cases: 5
Number of cases: 16
Number of cases: 294
Number of cases:     5
Number of cases:    16
Number of cases:   294
Number of cases:   5
Number of cases:  16
Number of cases:  294

In [ ]:
#allign integers and floats
  #integer variable
length = 26
print(' length of length is: {:d}. '.format(length))

# align right, padding= 6 , integer
  #integer variable
length = 26
print(' length of length is: {:>6d}. '.format(length))

# named variable , align center, padding = 4, integer
length = 26
print(' length of length is: {:^5d}. '.format(length))

 length of length is: 26.
 length of length is:     26.
 length of length is:  26  .

In [ ]:
#integer with colummas 
print('Distance to moon is {:,d} miles.'.format(234000))

Distance to moon is 234,000 miles.

In [ ]:
radius = 4.78
# the 6 df are the default format in python so adds 4 zero's.
print('Radius is {:f} inches.'.format(radius))

#round to 1 decimal place, float
print('Radius is {:.1f} inches.'.format(radius))

#padding=6 (pad with leading 0's), round to 1 decimal
print('Radius is {:06.1f} inches.'.format(radius))

#padding=5 decimal palces
print('Radius is {:.5f} inches.'.format(radius))

Radius is 4.780000 inches.
Radius is 4.8 inches.
Radius is 0004.8 inches.
Radius is 4.78000 inches.

In [ ]:
# positive & negative signs
a, b, c = 15, -9, 33
print('A is {:+d}.  B is {:+d}.  C is {:-d}.'.format(a, b, c))

# {+3d} shows positive or negative sign, padding=3. 
# {: d} prints neg or a leading space if positive.
print('A is {:+3d}.  B is {:+4d}.  B is {: d}.'.format(a, b, b))

A is +15.  B is -9.  C is 33.
A is +15.  B is   -9.  B is -9.

In [ ]:
print("{name} is a {job}.".format(name='Mekael', job='Carpenter'))

Mekael is a Carpenter.

In [ ]:
name = 'Mekael'
job = 'Carpenter'
# THIS DOES NOT WORK!
print("{} is a {}.".format(name, job))

Mekael is a Carpenter.

In [ ]:
# This works great
print("{n} is a {j}.".format(n=name, j=job))

Mekael is a Carpenter.

In [ ]:
# Or use a dictionary, and ** unpacks the dictionary.
jobs = {'name':'Mekael', 'job':'Carpenter'}
print("{name} is a {job}.".format(**jobs))

Mekael is a Carpenter.

In [ ]:
# passing in a list is clean and easy
scores = [78, 96, 83, 86]
print('Score 2 is {s[1]}'.format(s = scores))

Score 2 is 96

In [ ]:
print('My big number is {:e}'.format(874.577))
print('A bigger number is {:E}'.format(602214090000000000000000))

My big number is 8.745770e+02
A bigger number is 6.022141E+23

In [ ]:
#  binary formatting
print('The binary equivalent of 79 is {:b}'.format(79))
#  hexidecimal fomtatting
print('The Hexadecimal equivalent of 183 is {:X}'.format(183))

The binary equivalent of 79 is 1001111
The Hexadecimal equivalent of 183 is B7

In [ ]:
# -------------------------------------------------------------------
# Global variables
# -------------------------------------------------------------------

# User Number, Last Name, First Name, Login Name, Passcode
userList = [[110,"Cashin","Bonnie","Cae110",7005],
            [101,"Cheruit","Madeleine","Che101",1507],
            [103,"Chanel","Coco","Cho103",7333],
            [107,"Gres","Madame","Gre107",3054],
            [114,"Hamnett","Katharine","Hae114",4807],
            [118,"Herrera","Carolina","Hea118",5567],
            [111,"Hulanicki","Barbara","Hua111",5125],
            [116,"Johnson","Betsey","Joy116",8869],
            [104,"Lanvin","Jeanne","Lae104",8580],
            [109,"McCardell","Claire","Mce109",5991],
            [102,"Paquin","Jeanne","Pae102",6495],
            [112,"Quant","Mary","Quy112",9028],
            [113,"Rykiel","Sonia","Rya113",1177],
            [105,"Schiaparelli","Elsa","Sca105",2980],
            [108,"Schlee","Valentina","Sca108",6801],
            [106,"Vionnet","Madeleine","Vie106",9042],
            [117,"Von Furstenberg","Diane","Voe117",2553],
            [119,"Wang","Vera","Waa119",2004],
            [115,"Westwood","Vivienne","Wee115",7806]]